<div class="card border-info mb-3 container p-0 center mt-5" style="width: 600px">
  <div class="card-header bg-info"><h1 class="text-center">Éttermeim</h1></div>
  <div class="card-body">
    <button (click)="openDialog()" class="btn btn-success">Új létrehozása</button>
    <div class="card border-info mb-1 mt-3 p-2" *ngFor="let restaurant of myRestaurants">
      <h2 class="text-center">{{restaurant.name}}</h2>
      <p>{{restaurant.description}}</p>
      <b>Nyitvatartás:</b>
      <span>{{restaurant.opening_time}} - {{restaurant.closing_time}}</span>
      <button class="btn btn-primary w-25 mt-2" (click)="openDialog(restaurant)">Szerkesztés</button>
      <button class="btn btn-danger w-25 mt-2" (click)="deleteRestaurant(restaurant)">Törlés</button>
    </div>
  </div>
</div>
