<div class="card border-info mb-3 container p-0 center mt-5" style="width: 600px">
  <div class="card-header bg-info"><h1 class="text-center">Regisztráció</h1></div>
  <div class="card-body">
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <div *ngFor="let error of errors" class="bg-danger text-white p-2 mb-1 rounded">{{error}}</div>
      <div class="form-group">
        <b>Vezetéknév:</b>
        <input type="text" [(ngModel)]="user.first_name" class="form-control" name="first_name" #first_name="ngModel">
        <b>Keresztnév:</b>
        <input type="text" [(ngModel)]="user.last_name" class="form-control" name="last_name"  #last_name="ngModel">
        <b>Email:</b>
        <input type="text" [(ngModel)]="user.email" class="form-control" name="email"  email #email="ngModel">
        <b>Jelszó:</b>
        <input type="password" [(ngModel)]="user.password" class="form-control" name="password"  #password="ngModel">
        <b>Jelszó újra:</b>
        <input type="password" [(ngModel)]="user.password_confirm" class="form-control" name="password_confirm"  #password_confirm="ngModel">
      </div>
      <div class="text-center">
        <button type="submit"  class="btn btn-success">Regisztráció</button>
      </div>
    </form>
  </div>
</div>
