<div class="card border-info mb-3 container p-0 center mt-5" style="width: 600px">
  <div class="card-header bg-info"><h1 class="text-center">Étterem létrehozása</h1></div>
  <div class="card-body">
    <form (ngSubmit)="save()">
      <div class="form-group">
        <b>Étterem neve:</b>
        <input type="text" [(ngModel)]="restaurant.name" class="form-control" name="name" required #name="ngModel">
        <b>Étterem leírása:</b>
        <textarea [(ngModel)]="restaurant.description" class="form-control" name="description" required #description="ngModel"></textarea>
        <b>Nyitás:</b>
        <input type="time" [(ngModel)]="restaurant.opening_time" class="form-control" name="opening_time" required #opening_time="ngModel">
        <b>Zárás:</b>
        <input type="time" [(ngModel)]="restaurant.closing_time" class="form-control" name="closing_time" required #closing_time="ngModel">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success">Mentés</button>
        <button [mat-dialog-close] class="btn btn-danger">Mégse</button>
      </div>
    </form>
  </div>
</div>
