<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  *ngIf="isUserLoggedIn()">
        <a class="nav-link btn" (click)="gotoRestaurants()">Éttermeim</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <div *ngIf="isUserLoggedIn(); else notLeggedIn">
        <li class="nav-item">
          <a class="nav-link btn" (click)=logOut()>Kijelentkezés <strong>({{email}})</strong></a>
        </li>
      </div>
      <ng-template #notLeggedIn>
        <li class="nav-item">
          <a class="nav-link btn" (click)="gotoRegiser()">Regisztráció</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="gotoLogin()">Bejelentkezés</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
