<div class="card border-info mb-3 container p-0 center mt-5" style="width: 600px">
  <div class="card-header bg-info"><h1 class="text-center">Bejelentkezés</h1></div>
  <div class="card-body">
    <form (ngSubmit)="login()" #userForm="ngForm">
      <div *ngIf="error" class="bg-danger text-white p-2 mb-1 rounded">Az email cím vagy a jelszó hibás!</div>
      <div class="form-group">
        <b>E-mail cím:</b>
        <input type="text" [(ngModel)]="user.email" class="form-control" name="email" required #email="ngModel">
        <b>Jelszó:</b>
        <input type="password" [(ngModel)]="user.password" class="form-control" name="password" required #password="ngModel">
      </div>
      <div class="text-center">
        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-success">Bejelentkezés</button>
      </div>
      <div class="text-center mt-2">Még nincs fiókja?&nbsp;<a href="/register"><u>Hozzon létre egyet</u></a></div>
    </form>
  </div>
</div>
